.darkBG {
  background: #999;
}

.darkerBG {
  background: #666;
}

.darkestBG {
  background: #333;
}

.addSpace {
  margin-right: 120px;
}

.fontFix {
font-size: 45px;

}


@media screen and (max-width:600px){
  .fontFix{font-size: 30px;
  }
}

@media screen and (max-width:400px){
  .fontFix{font-size: 20px;
  }
}

.titleFix{
  font-size: 45px;
  text-align: center;
}

@media screen and (max-width:600px){
  .titleFix{font-size: 30px;
  }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
